.section {
	display: flex;
	justify-content: center;
}

.container {
	margin-top: 80px;
	height: 600px;
	width: 1200px;
	border: 2px solid darkblue;
	background: lightgrey;
}

.display-box {
	height: 100%;
	width: 100%;
}

.moving-box {
	position: relative;
	height: 50px;
	width: 80px;
	left: 150px;
	top: 300px;
	background: green;
}

button {
	margin-top: 50px;
	margin-left: 50px;
	display: block;
	width: 200px;
	height: 50px;
}
